id = "kruonis.dev.svc.example.org"
agent_label = "kr-0"
broker_id = "mqtt-gateway.dev.svc.example.org"

[mqtt]
uri = "mqtt://0.0.0.0:1883"
clean_session = true

[events]
"system.vacuum" = 60
"metric.pull" = 5
